{% extends "base.html" %}

{% block content %}

<div class="mb-4 bg-red-600 text-white p-4 rounded-md flex justify-between items-center">
    <h1 class="text-xl font-semibold">{% block title %}Excluir Orçamento{% endblock %}</h1>
    <div class="flex gap-2 mt-2">
        <nav class="backdrop-blur-sm rounded-md p-2 inline-flex space-x-2">
            <a href="{% url 'orc_listar' %}"
                class="px-4 py-2 text-sm font-medium bg-white/20 hover:bg-white/30 text-white rounded-md transition">
                <i class="bi bi-arrow-return-left"></i> Retornar
            </a>
        </nav>
    </div>
</div>

<div class="">



    <div class="flex items-center gap-2 py-1">
        <label class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            Nome
        </label>

        <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    flex items-center">
            {{ orcamento.nome }}
        </div>
    </div>

    <div class="flex items-center gap-2 py-1">
        <label
            class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap overflow-hidden truncate">
            Condomínio
        </label>

        <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    flex items-center">
            {{ orcamento.endereco.nome }}
        </div>
    </div>

    <div class="flex items-center gap-2 py-1">
        <label class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            Endereço
        </label>
        <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    flex items-center">
            {{ orcamento.endereco.endereco }}
        </div>

        <label class="w-4 sm:w-5 md:w-6 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            N°
        </label>
        <div class="bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    w-12 sm:w-16 md:w-20
                    flex items-center">
            {{ orcamento.endereco.numero }}
        </div>

        <label class="w-4 sm:w-5 md:w-6 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            UF
        </label>
        <div class="bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    w-6 sm:w-8 md:w-10
                    flex items-center">
            {{ orcamento.endereco.uf }}
        </div>
    </div>

    <div class="flex items-center gap-2 py-1">
        <label class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            Município
        </label>
        <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    flex items-center
                    overflow-hidden truncate">
            {{ orcamento.endereco.municipio }}
        </div>

        <label class="w-7 sm:w-9 md:w-10 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            Bairro
        </label>
        <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    flex items-center
                    overflow-hidden truncate">
            {{ orcamento.endereco.bairro }}
        </div>
    </div>

    <div class="flex items-center gap-2 py-1">
        <label
            class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap overflow-hidden truncate">
            Complemento
        </label>
        <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    flex items-center
                    overflow-hidden truncate">
            {{ orcamento.complemento }}
        </div>
        <label class="w-4 sm:w-6 md:w-7 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap">
            CEP
        </label>
        <div class="bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    w-19 sm:w-21 md:w-23
                    flex items-center">
            {{ orcamento.endereco.cep }}
        </div>
    </div>



    <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-1">

        <!-- Fone 1 -->
        <div class="flex items-center gap-2">
            <label
                class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap overflow-hidden truncate">
                Fone
            </label>
            <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                    px-1 sm:px-2 md:px-3
                    py-1 sm:py-1.5 md:py-1
                    text-xs sm:text-sm md:text-base
                    min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                    w-19 sm:w-21 md:w-23
                    flex items-center overflow-hidden truncate">
                {{ orcamento.fone1 }}
            </div>
        </div>

        <!-- Fone 2 -->
        <div class="flex items-center gap-2">
            <label class="w-16 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap text-center">
                Fone
            </label>
            <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                        px-1 sm:px-2 md:px-3
                        py-1 sm:py-1.5 md:py-1
                        text-xs sm:text-sm md:text-base
                        min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                        w-19 sm:w-21 md:w-23
                        flex items-center overflow-hidden truncate">
                {{ orcamento.fone2 }}
            </div>
        </div>

        <!-- Email -->
        <div class="flex items-center gap-2 col-span-2 md:col-span-1">
            <label
                class="w-16 sm:w-22 md:w-24 text-xs sm:text-sm md:text-base font-medium text-gray-700 whitespace-nowrap text-left md:text-center">
                Email
            </label>
            <div class="flex-1 bg-gray-50 border border-gray-300 rounded
                        px-1 sm:px-2 md:px-3
                        py-1 sm:py-1.5 md:py-1
                        text-xs sm:text-sm md:text-base
                        min-h-[32px] sm:min-h-[34px] md:min-h-[36px]
                        w-19 sm:w-21 md:w-23
                        items-center overflow-hidden truncate">
                {{ orcamento.email }}
            </div>
        </div>
    </div>

</div>

</div>

<div class="space-y-2 mt-3 bg-red-100 p-2 rounded-md border border-red-300  text-xs sm:text-sm md:text-base">


    <div class="flex font-semibold text-red-600">
        <div class="w-[9%] text-center font-semibold truncate">Comprimento</div>
        <div class="w-[9%] text-center font-semibold truncate">Largura</div>
        <div class="w-[9%] text-center font-semibold">M²</div>
        <div class="w-[33%] text-center font-semibold truncate">Descrição</div>
        <div class="w-[10%] text-center font-semibold truncate">Gancho</div>
        <div class="w-[10%] text-center font-semibold">Cor</div>
        <div class="w-[10%] text-center font-semibold">Preço</div>
        <div class="w-[10%] text-center font-semibold">Valor</div>
    </div>

    {% for item in items %}
    <div class="flex gap-1">


        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-center w-[9%]">
            {{ item.comprimento }}
        </div>

        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-center w-[9%]">
            {{ item.largura }}</div>


        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-center w-[9%]">
            {{ item.m2 }}</div>


        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-center w-[33%]">
            {{ item.descricao }}
        </div>

        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-center w-[10%]">
            {{ item.gancho }}</div>

        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-center  w-[10%]">
            {{ item.cor }}</div>

        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-right w-[10%]">
            R$
            {{ item.preco }}</div>

        <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] items-center text-right w-[10%]">
            R$ {{ item.subtotal }}</div>

    </div>

    {% empty %}
    <div class="text-sm text-gray-500 py-4 text-center">Nenhum item encontrado.</div>
    {% endfor %}

    <!-- Totals -->
    <div class="space-y-2">

        <div class="flex gap-1 items-center">
            <div class="w-[9%]"></div>
            <div class="text-center font-semibold text-red-600 w-[9%]">Total M²</div>

            <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] text-center w-[9%]">
                {{ orcamento.total_m2 }}
            </div>

            <div class="w-[53%]"></div>

            <div class="text-center font-semibold text-red-600 w-[10%] ">Sub-Total</div>

            <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] text-right w-[10%]">
                R$ {{ orcamento.subtotal }}
            </div>

        </div>

        <div class="flex gap-1">
            <div class="w-[80%]"></div>
            <div class="text-center font-semibold text-red-600 w-[10%]">Desconto</div>

            <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] text-right w-[10%]">
                R$ {{ orcamento.desconto }}
            </div>

        </div>

        <div class="flex gap-1">
            <div class="w-[80%]"></div>
            <div class="text-center font-semibold text-red-600 w-[10%]">Total</div>
            <div class="bg-white border border-red-200 rounded px-1 py-1 min-h-[32px] text-right w-[10%]">
                R$ {{ orcamento.total}}
            </div>
        </div>
    </div>



</div>


<div class="py-2">
    <a href="{% url 'orc_listar' %}"
        class="inline-flex items-center px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
        Manter Item
    </a>
    <button type="submit" class="inline-flex items-center px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
        Excluir Item
    </button>
</div>


</div>
{% endblock %}