{% extends "base.html" %}

{% block content %}
<div class="mb-4  bg-blue-600 text-white p-4 rounded-md flex justify-between items-center">
    <h1 class="text-xl font-semibold">{% block title %}Listar Orçamentos{% endblock %}</h1>
    <div class="flex gap-2 mt-2">
        <nav class="backdrop-blur-sm rounded-md p-2 inline-flex space-x-2">
            <a href="{% url 'orc_insere' %}"
                class="px-4 py-2 text-sm font-medium bg-white/20 hover:bg-white/30 text-white rounded-md transition">
                <i class="bi bi-plus-circle"></i> Cadastrar Orçamento
            </a>

            <a href="#"
                class="px-4 py-2 text-sm font-medium bg-white/20 hover:bg-white/30 text-white rounded-md transition">
                <i class="bi bi-cloud-arrow-down"></i> Exportar
            </a>

            <a href="#"
                class="px-4 py-2 text-sm font-medium bg-white/20 hover:bg-white/30 text-white rounded-md transition">
                <i class="bi bi-search"></i> Pesquisar
            </a>
        </nav>
    </div>
</div>



<div class="grid gap-1 mt-3 p-2 bg-blue-100 rounded-md border border-blue-300 md:bg-transparent md:border-gray-300">
    <!-- Cabeçalho -->
    <div class="grid grid-cols-12 gap-2 font-semibold text-gray-900 py-2 hidden sm:grid">
        <div class="col-span-2">Nome</div>
        <div class="col-span-4">Endereço</div>
        <div class="col-span-3">Condomínio</div>
        <div class="col-span-2">Fones</div>
        <div class="col-span-1">Ações</div>
    </div>

    <!-- Linhas -->
    {% for orcamento in orcamentos %}
    <div
        class="grid grid-cols-12 gap-2 rounded-md ring-2 ring-blue-600 bg-blue-50 p-2 sm:ring-0 md:p-0 mb-2 md:mb-0 md:bg-transparent">

        <div class="col-span-12 sm:col-span-2 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-blue-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Nome</label>
            <div
                class="w-full rounded bg-white ring-1 ring-blue-300 px-2 py-1 text-gray-700 md:w-auto md:rounded-none md:ring-0 md:px-0 md:py-0 md:text-inherit truncate" />
            {{ orcamento.nome }}
        </div>
    </div>
    <div class="col-span-12 sm:col-span-4 relative py-2">
        <label
            class="absolute left-3 top-[-1px] text-[12px] text-blue-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Endereço</label>
        <div
            class="w-full rounded bg-white ring-1 ring-blue-300 px-2 py-1 text-gray-700 md:w-auto md:rounded-none md:ring-0 md:px-0 md:py-0 md:text-inherit" />
        <p>{{ orcamento.endereco.endereco }}, {{ orcamento.endereco.numero }}</p>
        <p>{{ orcamento.endereco.bairro}} / {{ orcamento.endereco.municipio }}/ {{ orcamento.endereco.uf }}</p>
    </div>
</div>
<div class="col-span-12 sm:col-span-3 relative py-2">
    <label
        class="absolute left-3 top-[-1px] text-[12px] text-blue-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Condomínio</label>
    <div
        class="w-full rounded bg-white ring-1 ring-blue-300 px-2 py-1 text-gray-700 md:w-auto md:rounded-none md:ring-0 md:px-0 md:py-0 md:text-inherit" />
    <p>{{ orcamento.endereco.nome }}</p>
    <p>{{ orcamento.complemento }}</p>
</div>
</div>
<div class="col-span-6 sm:col-span-2 relative py-2">
    <label
        class="absolute left-3 top-[-1px] text-[12px] text-blue-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Fones</label>
    <div
        class="w-full rounded bg-white ring-1 ring-blue-300 px-2 py-1 text-gray-700 md:w-auto md:rounded-none md:ring-0 md:px-0 md:py-0 md:text-inherit" />
    <p>{{ orcamento.fone1 }}</p>
    <p>{{ orcamento.fone2 }}</p>
</div>
</div>
<div class="col-span-6 sm:col-span-1 relative py-2">
    <label
        class="absolute left-3 top-[-1px] text-[12px] text-blue-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Ação</label>
    <div
        class="w-full rounded bg-white ring-1 ring-blue-300 px-2 py-1 text-gray-700 md:w-auto md:rounded-none md:ring-0 md:px-0 md:py-0 md:text-inherit text-center" />
    <span class="inline-flex rounded-md shadow-sm">
        <a href="{% url 'orc_pdf' orcamento.id_orc %}" _blank
            class="
                                        relative inline-flex items-center rounded-l-md px-2.5 py-1.5 text-sm font-medium bg-cyan-500 text-white hover:bg-cyan-600">
            <i class="bi bi-filetype-pdf"></i>
        </a>
        <a href="{% url 'orc_editar' orcamento.id_orc %}"
            class="
                                        relative -ml-px inline-flex items-center px-2.5 py-1.5 text-sm font-medium bg-blue-600 text-white hover:bg-blue-700">
            <i class="bi bi-pencil"></i>
        </a>
        <a href="{% url 'orc_excluir' orcamento.id_orc %}"
            class="relative -ml-px inline-flex items-center rounded-r-md px-2.5 py-1.5 text-sm font-medium bg-red-600 text-white hover:bg-red-700">
            <i class="bi bi-trash3"></i>
        </a>
    </span>

</div>
</div>

</div>
{% empty %}
<div class="text-sm text-gray-500 py-4 text-center">Nenhum item encontrado.</div>
{% endfor %}
{% endblock %}