{% extends "base.html" %}

{% block content %}

<div class="mb-4 bg-red-500 text-white rounded-md flex justify-between items-center">
    <h1 class="text-xl font-semibold m-2">{% block title %}Excluir Orçamento{% endblock %}</h1>
    <div class="flex gap-2 mt-2">
        <nav class="backdrop-blur-sm rounded-md p-2 inline-flex space-x-2">
            <a href="{% url 'orc_listar' %}"
                class="px-4 py-2 text-sm font-medium bg-white/20 hover:bg-white/30 text-white rounded-md transition">
                <i class="bi bi-arrow-return-left"></i> Retornar
            </a>
        </nav>
    </div>
</div>

<div class="grid gap-2">

    <!-- Nome -->
    <div class="relative py-2">
        <label
            class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">
            Nome
        </label>
        <input type="text" value="{{ orcamento.nome }}" disabled
            class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 focus:border-blue-500 transition duration-200" />

    </div>

    {% if orcamento.endereco.tipo != "res" %}
    <!-- Condomínio -->
    <div class="relative py-2">
        <label
            class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">
            Condomínio
        </label>
        <input type="text" value="{{ orcamento.endereco.nome }}" disabled
            class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 focus:border-blue-500 transition duration-200" />
    </div>
    {% endif %}

    <!-- Endereço + Número -->
    <div class="grid grid-cols-12 gap-2">
        <div class="relative col-span-8 md:col-span-10 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Endereço</label>
            <input type="text" value="{{ orcamento.endereco.endereco }}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-2 md:col-span-1 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Nº</label>
            <input type="text" value="{{ orcamento.endereco.numero}}" maxlength="6" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-2 md:col-span-1 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">UF</label>
            <input type="text" value="{{ orcamento.endereco.uf}}" maxlength="2" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
    </div>

    <!-- Município + Bairro + UF -->
    <div class="grid grid-cols-12 gap-2">
        <div class="relative col-span-5 md:col-span-5 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Município</label>
            <input type="text" value="{{ orcamento.endereco.municipio }}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-4 md:col-span-6 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Bairro</label>
            <input type="text" value="{{ orcamento.endereco.bairro}}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-3 md:col-span-1 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">CEP</label>
            <input type="text" value="{{ orcamento.endereco.cep}}" maxlength="9" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
    </div>

    <!-- Complemento + CEP -->
    <div class="grid grid-cols-12 gap-2">
        <div class="relative col-span-7 md:col-span-8 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Complemento</label>
            <input type="text" value="{{ orcamento.complemento }}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-5 md:col-span-4 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Email</label>
            <input type="email" value="{{ orcamento.email}}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
    </div>

    <!-- Fones + Email -->
    <div class="grid grid-cols-12 gap-2">
        <div class="relative col-span-4 md:col-span-4 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Fone</label>
            <input type="text" value="{{ orcamento.fone1}}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-4 md:col-span-4 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Fone</label>
            <input type="text" value="{{ orcamento.fone2}}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
        <div class="relative col-span-4 md:col-span-4 py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">Data</label>
            <input type="email" value="{{ orcamento.data|date:"d/m/Y" }}" disabled
                class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 transition" />
        </div>
    </div>

    <div class="relative py-2">
        <label
            class="absolute left-3 top-[-1px] text-[12px] text-gray-700 bg-white px-1 leading-none pointer-events-none">
           Observação
        </label>
        <input type="text" value="{{ orcamento.obs }}" disabled
            class="w-full rounded bg-white ring-1 ring-gray-300 px-2 pt-2 pb-1 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500/40 focus:border-blue-500 transition duration-200" />

    </div>

</div>

<div class="grid gap-1 mt-3 bg-red-100 p-2 rounded-md border border-red-300">
    <!-- Cabeçalho -->
    <div class="grid grid-cols-12 gap-2 text-center font-semibold text-red-600 hidden sm:grid">
        <div class="col-span-1 truncate">Comprimento</div>
        <div class="col-span-1">Largura</div>
        <div class="col-span-1">M²</div>
        <div class="col-span-3">Descrição</div>
        <div class="col-span-2">Gancho</div>
        <div class="col-span-2">Cor</div>
        <div class="col-span-1">Preço</div>
        <div class="col-span-1">Valor</div>
    </div>

    <!-- Linhas -->
    {% for item in items %}
    <div
        class="grid grid-cols-12 gap-2 rounded-md ring-2 ring-red-300 bg-red-50 p-2 sm:ring-0 md:p-0 mb-2 md:mb-0 md:bg-transparent">

        <div class="col-span-4 sm:col-span-1 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Comprimento</label>
            <input type="text" value="{{ item.comprimento }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 focus:ring-2 focus:ring-blue-500/40 text-center" />
        </div>
        <div class="col-span-4 sm:col-span-1 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Largura</label>
            <input type="text" value="{{ item.largura }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 focus:ring-2 focus:ring-blue-500/40 text-center" />
        </div>
        <div class="col-span-4 sm:col-span-1 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">M²</label>
            <input type="text" value="{{ item.m2 }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 focus:ring-2 focus:ring-blue-500/40 text-center" />
        </div>
        <div class="col-span-12 sm:col-span-3 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Descrição</label>
            <input type="text" value="{{ item.descricao }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 focus:ring-2 focus:ring-blue-500/40" />
        </div>
        <div class="col-span-6 sm:col-span-2 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Gancho</label>
            <input type="text" value="{{ item.gancho }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 focus:ring-2 focus:ring-blue-500/40 text-center" />
        </div>
        <div class="col-span-6 sm:col-span-2 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Cor</label>
            <input type="text" value="{{ item.cor }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 focus:ring-2 focus:ring-blue-500/40 text-center" />
        </div>
        <div class=" col-span-6 sm:col-span-1 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Preco</label>
            <input type="text" value="R$ {{ item.preco }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 text-right focus:ring-2 focus:ring-blue-500/40" />
        </div>
        <div class="col-span-6 sm:col-span-1 relative py-2">
            <label
                class="absolute left-3 top-[-1px] text-[12px] text-red-700 bg-white px-1 leading-none pointer-events-none sm:hidden">Valor</label>
            <input type="text" value="R$ {{ item.subtotal }}" disabled
                class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 text-right focus:ring-2 focus:ring-blue-500/40" />
        </div>
    </div>


    {% empty %}
    <div class="text-sm text-gray-500 py-4 text-center">Nenhum item encontrado.</div>
    {% endfor %}


    <div class="rounded-md ring-2 ring-red-300 p-2 sm:ring-0 bg-red-50 md:bg-transparent md:p-0">

        <div class="grid grid-cols-12 gap-2 ">

            <div class="sm:col-span-1 py-2 hidden sm:block"></div>
            <div class="sm:col-span-1 py-2 text-center font-semibold text-red-600 hidden sm:block">Total M²</div>
            <div class="col-span-6 sm:col-span-1 relative py-2">
                <label
                    class="absolute left-3 top-[-1px] text-[12px] text-red-700 font-semibold bg-white px-1 leading-none pointer-events-none sm:hidden">Total
                    M²</label>
                <input type="text" value="{{ orcamento.total_m2 }}" disabled
                    class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 text-center focus:ring-2 focus:ring-blue-500/40" />
            </div>
            <div class="col-span-6 sm:col-span-7 py-2 hidden sm:block"></div>
            <div class="col-span-6 sm:col-span-1 py-2 text-center font-semibold text-red-600 hidden sm:block">Sub-Total
            </div>
            <div class="col-span-6 sm:col-span-1 relative py-2">
                <label
                    class="absolute left-3 top-[-1px] text-[12px] text-red-700 font-semibold bg-white px-1 leading-none pointer-events-none sm:hidden">Sub-Total</label>
                <input type="text" value="R$ {{ orcamento.subtotal }}" disabled
                    class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-red-700 text-right focus:ring-2 focus:ring-blue-500/40" />
            </div>


        </div>
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6 sm:col-span-10 py-2"></div>
            <div class="col-span-6 sm:col-span-1 py-2 text-center font-semibold text-red-600 hidden sm:block">Desconto
            </div>
            <div class="col-span-6 sm:col-span-1 relative py-2">
                <label
                    class="absolute left-3 top-[-1px] text-[12px] text-red-700 font-semibold bg-white px-1 leading-none pointer-events-none sm:hidden">Desconto</label>
                <input type="text" value="{{ orcamento.desconto }}" disabled
                    class="w-full rounded bg-white ring-1 ring-red-300 px-2 py-1 text-gray-700 text-right focus:ring-2 focus:ring-blue-500/40" />
            </div>

        </div>
        <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6 sm:col-span-10 py-2"></div>
            <div class="col-span-6 sm:col-span-1 py-2 text-center font-semibold text-red-600 hidden sm:block">Total
            </div>
            <div class="col-span-6 sm:col-span-1 relative py-2">
                <label
                    class="absolute left-3 top-[-1px] text-[12px] text-red-700 font-semibold bg-white px-1 leading-none pointer-events-none sm:hidden">Total</label>
                <input type="text" value="R$ {{ orcamento.total }}" disabled
                    class="w-full rounded bg-white ring-1 ring-red-300 font-bold px-2 py-1 text-red-700 text-right focus:ring-2 focus:ring-blue-500/40" />
            </div>

        </div>
    </div>
</div>


<div class="py-2" x-data="{ abrirModal: false }">

    <a href="{% url 'orc_listar' %}"
        class="inline-flex items-center px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-700">
        Manter Orçamento
    </a>

    <!-- Botão que abre o modal -->
    <button type="button" class="inline-flex items-center px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700"
        @click="abrirModal = true">
        Excluir Orçamento
    </button>

    <!-- Modal -->
    <div x-show="abrirModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
        x-transition>

        <div class="bg-white p-6 rounded ring-1 ring-red-600 shadow-xl w-80" @click.outside="abrirModal = false">

            <h2 class="text-lg font-semibold mb-4 text-red-600">
                Confirmar Exclusão
            </h2>

            <p class="text-sm text-gray-600 mb-6">
                Tem certeza que deseja excluir este item? Esta ação não pode ser desfeita.
            </p>

            <div class="flex justify-end gap-3">
                <button type="button" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400"
                    @click="abrirModal = false">
                    Cancelar
                </button>

                <form method="post" action="{% url 'orc_excluir' orcamento.id_orc %}">
                    {% csrf_token %}
                    <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700">
                        Excluir
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
</div>
{% endblock %}